*{
  background-color: thistle;
  color: black;
}

.btn1{
  background-color: green;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  gap: 10px;
  margin: 10px;
  border: none;
}

.btn2{
  background-color: red;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  gap: 10px;
  margin: 10px;
  border: none;
}

.btn3{
  background-color: hotpink;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  gap: 10px;
  margin: 10px;
  border: none;
}


.inn{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  margin: 10px 30px;
  text-align: center;
  border: 3px solid orange;
  color: black;
}


.btn4{
  background-color: rgb(201, 14, 107);
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  gap: 10px;
  margin: 10px;
  border: none;
}

.btn5{
  background-color: rgb(229, 79, 20);
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  gap: 10px;
  margin: 10px;
  border: none;
}

.one{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  margin: 10px 30px;
  border: 3px solid rgb(54, 183, 165);
  color: black;
}

.two{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  margin: 10px 30px;
  border: 3px solid rgb(31, 41, 91);
  color: black;
}

.three{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  margin: 10px 30px;
  border: 3px solid rgb(67, 207, 46);
  color: black;
}